# Byte-compiled / Cache-Dateien
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebungen
.venv
venv/
env/
ENV/

# Datenbank-Dateien (wichtig für SQLite!)
*.db
*.db-journal

# Sensible Konfiguration
.env
client_config.json

# Editor-spezifische Ordner
.vscode/
.idea/

# Installer-Artefakte
dist/
build/
*.spec